USE [TallerMotosTunig]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaCita] [date] NOT NULL,
	[Estado] [varchar](20) NULL,
	[Hora] [time](7) NULL,
	[Descripcion] [varchar](300) NULL,
 CONSTRAINT [PK__Citas__394B0202E562C01D] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Correo] [varchar](100) NULL,
	[Direccion] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[Contraseña] [nvarchar](100) NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK__Clientes__D594664279BDBB17] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompraPiezas]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraPiezas](
	[IdCompraPieza] [int] NOT NULL,
	[IdPieza] [int] NOT NULL,
	[IdCompra] [int] NULL,
	[CantidadComprada] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Importe] [decimal](10, 2) NULL,
 CONSTRAINT [PK_CompraPiezas] PRIMARY KEY CLUSTERED 
(
	[IdCompraPieza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NULL,
	[FechaCompra] [datetime] NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Compras__0A5CDB5CBE4AA602] PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Reparacion]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Reparacion](
	[Id_DetalleRep] [int] IDENTITY(1,1) NOT NULL,
	[IdReparaciones] [int] NULL,
	[Idservicios] [int] NULL,
	[CostoServicio] [decimal](10, 2) NULL,
	[IdPieza] [int] NULL,
	[Cant_pieza] [int] NULL,
	[CostoPieza] [decimal](10, 2) NULL,
	[Importe] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Detalle_Reparacion] PRIMARY KEY CLUSTERED 
(
	[Id_DetalleRep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdReparacion] [int] NOT NULL,
	[FechaFactura] [datetime] NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[Estado_Pago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[IdPieza] [int] IDENTITY(1,1) NOT NULL,
	[NombrePieza] [varchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_Actual] [decimal](10, 2) NOT NULL,
	[IdProveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPieza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motos]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motos](
	[IdMoto] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NULL,
	[Placa] [varchar](10) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Color] [varchar](20) NOT NULL,
 CONSTRAINT [PK__Motos__33CED5FBB9179DC7] PRIMARY KEY CLUSTERED 
(
	[IdMoto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Correo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reparaciones]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reparaciones](
	[IdReparacion] [int] IDENTITY(1,1) NOT NULL,
	[IdMoto] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[Fase] [varchar](50) NULL,
 CONSTRAINT [PK__Reparaci__DCF37F00249F0F0B] PRIMARY KEY CLUSTERED 
(
	[IdReparacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReparacionPiezas]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReparacionPiezas](
	[IdReparacion] [int] NOT NULL,
	[IdPieza] [int] NOT NULL,
	[CantidadUsada] [int] NOT NULL,
 CONSTRAINT [PK__Reparaci__A8F44AAA1D34936F] PRIMARY KEY CLUSTERED 
(
	[IdReparacion] ASC,
	[IdPieza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[Servicio] [varchar](50) NULL,
	[Precio_Servicio] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/03/2026 09:58:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[Correo] [varchar](100) NOT NULL,
	[Usuario] [varchar](50) NULL,
	[Contraseña] [varchar](255) NOT NULL,
	[IdRol] [int] NOT NULL,
 CONSTRAINT [PK__Usuarios__5B65BF9777808F0E] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([IdCita], [IdCliente], [FechaCita], [Estado], [Hora], [Descripcion]) VALUES (9, 1, CAST(N'2025-01-20' AS Date), N'Cancelada', CAST(N'10:30:00' AS Time), N'Prueba de cita')
INSERT [dbo].[Citas] ([IdCita], [IdCliente], [FechaCita], [Estado], [Hora], [Descripcion]) VALUES (10, 1, CAST(N'2026-02-13' AS Date), N'Cancelada', CAST(N'12:00:00' AS Time), N'Cita de prueba2
[MOTIVO CANCELACIÓN: nn]')
INSERT [dbo].[Citas] ([IdCita], [IdCliente], [FechaCita], [Estado], [Hora], [Descripcion]) VALUES (11, 1, CAST(N'2026-02-15' AS Date), N'Cancelada', CAST(N'11:00:00' AS Time), N'Cambio de aceite
[MOTIVO CANCELACIÓN: jsjjs]')
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Direccion], [Usuario], [Contraseña], [IdRol]) VALUES (1, N'Juan', N'Pérez', N'12345678', N'juan@email.com', N'Calle 123', N'juanperez', N'CaMacAHiYaseBWGCpx089X9YLKminP9euDvg8FSXMKk=', 3)
INSERT [dbo].[Clientes] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Direccion], [Usuario], [Contraseña], [IdRol]) VALUES (2, N'Ana', N'García', N'87654321', N'ana@email.com', N'Avenida 456, Ciudad', N'anagarcia', N'6CgnsAssqGIL6zf4eXeMCCspKlInA5DP81tv4xV/Tos=', 3)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Detalle_Reparacion] ON 

INSERT [dbo].[Detalle_Reparacion] ([Id_DetalleRep], [IdReparaciones], [Idservicios], [CostoServicio], [IdPieza], [Cant_pieza], [CostoPieza], [Importe]) VALUES (1, 3, NULL, NULL, 17, 1, CAST(12.50 AS Decimal(10, 2)), CAST(12.50 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Reparacion] ([Id_DetalleRep], [IdReparaciones], [Idservicios], [CostoServicio], [IdPieza], [Cant_pieza], [CostoPieza], [Importe]) VALUES (2, 4, NULL, NULL, 32, 2, CAST(8.50 AS Decimal(10, 2)), CAST(17.00 AS Decimal(10, 2)))
INSERT [dbo].[Detalle_Reparacion] ([Id_DetalleRep], [IdReparaciones], [Idservicios], [CostoServicio], [IdPieza], [Cant_pieza], [CostoPieza], [Importe]) VALUES (4, 5, NULL, NULL, 39, 1, CAST(6.25 AS Decimal(10, 2)), CAST(6.25 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Detalle_Reparacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([IdPieza], [NombrePieza], [Cantidad], [Precio_Actual], [IdProveedor]) VALUES (17, N'Aceite de motor 10W40 (1 litro)', 23, CAST(456.25 AS Decimal(10, 2)), 1)
INSERT [dbo].[Inventario] ([IdPieza], [NombrePieza], [Cantidad], [Precio_Actual], [IdProveedor]) VALUES (18, N'Aceite de motor 20W50 (1 litro)', 16, CAST(428.88 AS Decimal(10, 2)), 1)
INSERT [dbo].[Inventario] ([IdPieza], [NombrePieza], [Cantidad], [Precio_Actual], [IdProveedor]) VALUES (19, N'Aceite de transmisión', 12, CAST(547.50 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Motos] ON 

INSERT [dbo].[Motos] ([IdMoto], [IdCliente], [Placa], [Marca], [Modelo], [Año], [Color]) VALUES (1, 1, N'ABC123', N'Yamaha', N'YZF-R3', 2023, N'Azul')
INSERT [dbo].[Motos] ([IdMoto], [IdCliente], [Placa], [Marca], [Modelo], [Año], [Color]) VALUES (2, 1, N'MOT001', N'Yamaha', N'YZF-R3', 2023, N'Azul')
INSERT [dbo].[Motos] ([IdMoto], [IdCliente], [Placa], [Marca], [Modelo], [Año], [Color]) VALUES (3, 2, N'ABC-130', N'Yamaha', N'MT-09', 2022, N'Negra')
SET IDENTITY_INSERT [dbo].[Motos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IdProveedor], [Nombre], [Telefono], [Correo]) VALUES (1, N'MotoPartes S.A.', N'2222-1111', N'ventas@motopartes.com')
INSERT [dbo].[Proveedores] ([IdProveedor], [Nombre], [Telefono], [Correo]) VALUES (2, N'Distribuidora de Refacciones', N'2222-2222', N'refacciones@distribuidora.com')
INSERT [dbo].[Proveedores] ([IdProveedor], [Nombre], [Telefono], [Correo]) VALUES (3, N'Importadora de Accesorios', N'2222-3333', N'info@importadora.com')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Reparaciones] ON 

INSERT [dbo].[Reparaciones] ([IdReparacion], [IdMoto], [IdUsuario], [Descripcion], [Estado], [FechaInicio], [FechaFin], [Total], [Fase]) VALUES (1, 1, 2, N'Cambio de aceite y revisión de frenos', N'Completada', CAST(N'2026-01-21T10:52:07.607' AS DateTime), CAST(N'2026-02-18T11:54:28.240' AS DateTime), CAST(2071.38 AS Decimal(10, 2)), N'Completada')
INSERT [dbo].[Reparaciones] ([IdReparacion], [IdMoto], [IdUsuario], [Descripcion], [Estado], [FechaInicio], [FechaFin], [Total], [Fase]) VALUES (2, 1, 2, N'Prueba de cita - Cambio de aceite', N'Completada', CAST(N'2025-01-20T10:30:00.000' AS DateTime), CAST(N'2026-02-18T12:17:58.987' AS DateTime), CAST(428.88 AS Decimal(10, 2)), N'Completada')
INSERT [dbo].[Reparaciones] ([IdReparacion], [IdMoto], [IdUsuario], [Descripcion], [Estado], [FechaInicio], [FechaFin], [Total], [Fase]) VALUES (3, 1, 2, N'Cambio de aceite', N'Completada', CAST(N'2026-02-15T11:00:00.000' AS DateTime), CAST(N'2026-02-17T13:41:19.807' AS DateTime), CAST(12.50 AS Decimal(10, 2)), N'Completada')
SET IDENTITY_INSERT [dbo].[Reparaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'Tecnico')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([IdServicio], [Servicio], [Precio_Servicio]) VALUES (1, N'Cambio de aceite de motor', CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Servicios] ([IdServicio], [Servicio], [Precio_Servicio]) VALUES (2, N'Cambio de aceite de transmisión', CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[Servicios] ([IdServicio], [Servicio], [Precio_Servicio]) VALUES (3, N'Afinamiento de carburador', CAST(40.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Telefono], [Correo], [Usuario], [Contraseña], [IdRol]) VALUES (1, N'Administrador', N'Principal', 12345678, N'admin@taller.com', N'admin', N'JAvlGPq9JyTdtvBO6x2llnRI1+gxwIyPqCKAn3THIKk=', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Apellido], [Telefono], [Correo], [Usuario], [Contraseña], [IdRol]) VALUES (2, N'Carlos', N'Mecánico', 87654321, N'tecnico@taller.com', N'tecnico1', N'K9UQD0dZFaiZD2pLNCrBYeXrdUWB2BpLZGKEPmNgGto=', 2)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__60695A1916F06CCB]    Script Date: 02/03/2026 09:58:14 p. m. ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ__Clientes__60695A1916F06CCB] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Motos__8310F99D9BBBAF32]    Script Date: 02/03/2026 09:58:14 p. m. ******/
ALTER TABLE [dbo].[Motos] ADD  CONSTRAINT [UQ__Motos__8310F99D9BBBAF32] UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Proveedo__60695A19B5854528]    Script Date: 02/03/2026 09:58:14 p. m. ******/
ALTER TABLE [dbo].[Proveedores] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A19C7A930F1]    Script Date: 02/03/2026 09:58:14 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__60695A19C7A930F1] UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  CONSTRAINT [DF__Citas__Estado__6A30C649]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((3)) FOR [IdRol]
GO
ALTER TABLE [dbo].[Compras] ADD  CONSTRAINT [DF__Compras__FechaCo__6B24EA82]  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaFactura]
GO
ALTER TABLE [dbo].[Pagos] ADD  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Reparaciones] ADD  CONSTRAINT [DF__Reparacio__Estad__6E01572D]  DEFAULT ('En proceso') FOR [Estado]
GO
ALTER TABLE [dbo].[Reparaciones] ADD  CONSTRAINT [DF__Reparacio__Fecha__6EF57B66]  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK__Citas__IdCliente__6FE99F9F] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK__Citas__IdCliente__6FE99F9F]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Roles]
GO
ALTER TABLE [dbo].[CompraPiezas]  WITH CHECK ADD  CONSTRAINT [FK_CompraPiezas_Compras] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([IdCompra])
GO
ALTER TABLE [dbo].[CompraPiezas] CHECK CONSTRAINT [FK_CompraPiezas_Compras]
GO
ALTER TABLE [dbo].[CompraPiezas]  WITH CHECK ADD  CONSTRAINT [FK_CompraPiezas_Inventario] FOREIGN KEY([IdPieza])
REFERENCES [dbo].[Inventario] ([IdPieza])
GO
ALTER TABLE [dbo].[CompraPiezas] CHECK CONSTRAINT [FK_CompraPiezas_Inventario]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedores]
GO
ALTER TABLE [dbo].[Detalle_Reparacion]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Reparacion_Inventario] FOREIGN KEY([IdPieza])
REFERENCES [dbo].[Inventario] ([IdPieza])
GO
ALTER TABLE [dbo].[Detalle_Reparacion] CHECK CONSTRAINT [FK_Detalle_Reparacion_Inventario]
GO
ALTER TABLE [dbo].[Detalle_Reparacion]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Reparacion_Reparaciones] FOREIGN KEY([IdReparaciones])
REFERENCES [dbo].[Reparaciones] ([IdReparacion])
GO
ALTER TABLE [dbo].[Detalle_Reparacion] CHECK CONSTRAINT [FK_Detalle_Reparacion_Reparaciones]
GO
ALTER TABLE [dbo].[Detalle_Reparacion]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Reparacion_Servicios] FOREIGN KEY([Idservicios])
REFERENCES [dbo].[Servicios] ([IdServicio])
GO
ALTER TABLE [dbo].[Detalle_Reparacion] CHECK CONSTRAINT [FK_Detalle_Reparacion_Servicios]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK__Facturas__IdClie__778AC167] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK__Facturas__IdClie__778AC167]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK__Facturas__IdRepa__787EE5A0] FOREIGN KEY([IdReparacion])
REFERENCES [dbo].[Reparaciones] ([IdReparacion])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK__Facturas__IdRepa__787EE5A0]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Proveedores] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedores] ([IdProveedor])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Proveedores]
GO
ALTER TABLE [dbo].[Motos]  WITH CHECK ADD  CONSTRAINT [FK_Motos_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Motos] CHECK CONSTRAINT [FK_Motos_Clientes]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([IdFactura])
GO
ALTER TABLE [dbo].[Reparaciones]  WITH CHECK ADD  CONSTRAINT [FK__Reparacio__IdMot__4D94879B] FOREIGN KEY([IdMoto])
REFERENCES [dbo].[Motos] ([IdMoto])
GO
ALTER TABLE [dbo].[Reparaciones] CHECK CONSTRAINT [FK__Reparacio__IdMot__4D94879B]
GO
ALTER TABLE [dbo].[Reparaciones]  WITH CHECK ADD  CONSTRAINT [FK__Reparacio__IdUsu__4E88ABD4] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reparaciones] CHECK CONSTRAINT [FK__Reparacio__IdUsu__4E88ABD4]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__IdRol__3A81B327] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__IdRol__3A81B327]
GO
